*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
  position: relative;
  box-sizing: border-box;
}

body {
  display: block;
  background-image: linear-gradient(#142a4a, #0a0a0a, #0a0a0a, #0a0a0a, #0a0a0a);
}

.navbar a {
  color: #c3c7cd;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
  margin: 50px 15px;
  font-size: 13px; 
  font-family: "Chivo";
}

.right-nav {
  /* margin-top: 20px; */
  margin-right: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.right-nav:hover {
  cursor: pointer;
}

.logo {
  padding: 0px 10px;
  margin: 50px 50px;
  /* background-color: darkred; */
}

.logo:hover {
  cursor: pointer;
}

.container {
  display: inline-block;
  text-align: center;
  width: auto;
}

.article-gallery {
  margin: 5px;
  width: 350px;
  /* text-align: center; */
  margin: 10px;
  display: inline-block;
}

.article-gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.article-desc {
  color: #c3c7cd;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px; 
  font-family: "Roboto";
  padding: 10px;
}
